# Code owners for the entire repository
*                                       @tomassebestik


# Code owners for an entire directory and its subdirectories
.github/                                @espressif/ci

# Code owners for individual files
Justfile                                @tomassebestik
.pre-commit-hooks.yaml                  @hfudev
