.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
*.egg-info/
__pycache__/
_version.py
demo/
TODO.md

# Local test to create Release notes
Release_notes.md

# Local test to create full CHANGELOG
CHANGELOG-output.md
